<div class="container bootstrap snippets bootdey">
    <div class="row"></div>
    <div class="card" style="max-width: 40rem;">
        <h6 class="card-header" style="text-align: end;"><a href="javascript:void(0)" style="color: purple;">
                View Details</a></h6>
        <div class="card-body">
            <div class="row">
                <div class=" profile-nav col-md-4">
                    <div class="panel">
                        <div class="user-heading round">
                            <a href="#">
                                <img src="../../../assets/boy.jpg" alt="" />
                            </a>
                        </div>
                    </div>
                </div>
                <div class="col-md-8">
                    <div class="row">
                        <div class="col-sm-6 col-sm-3" style="text-align: center">Name</div>
                        <div class="col-sm-6 col-sm-3">Eric</div>
                        <div class="w-100"></div>
                        <div class="col-sm-6 col-sm-3" style="text-align: center">Grade</div>
                        <div class="col-sm-6 col-sm-3">06</div>
                    </div>
                </div>
            </div>

        </div>
        <div class="card-footer" style="text-align: center;">

            <h6><svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" fill="currentColor"
                    class="bi bi-file-plus" viewBox="0 0 16 16">
                    <path
                        d="M8.5 6a.5.5 0 0 0-1 0v1.5H6a.5.5 0 0 0 0 1h1.5V10a.5.5 0 0 0 1 0V8.5H10a.5.5 0 0 0 0-1H8.5V6z" />
                    <path
                        d="M2 2a2 2 0 0 1 2-2h8a2 2 0 0 1 2 2v12a2 2 0 0 1-2 2H4a2 2 0 0 1-2-2V2zm10-1H4a1 1 0 0 0-1 1v12a1 1 0 0 0 1 1h8a1 1 0 0 0 1-1V2a1 1 0 0 0-1-1z" />
                </svg><a href="javascript:void(0)" style="color: purple;">
                    Add Child</a></h6>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <div class="card border-light mb-3" style="max-width: 40rem;">
                <div class="card-header">
                    <div class="row">
                        <div class="col-md-8">
                            Plan Details:
                        </div>
                        <div class="col-md-4" style="text-align:end">
                            <button type="button"
                                style="color:white;background-color: purple;border-radius: 0.1rem">Upgrade Plan</button>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <!-- <h5 class="card-title">Light card title</h5> -->
                    <div class="card-text">
                        <div class="row">
                            <div class="col-sm-8">
                                <ul>
                                    OT Therapy
                                    <li>
                                        We identyfy the child's physical and occupation...
                                    </li>
                                    <ul style="font-size: smaller;">
                                        02 weekly session | 12 Total Session

                                    </ul>
                                </ul>
                            </div>
                            <div class="col-sm-4" style="text-align:end;">
                                <ul></ul>
                                <ul></ul>
                                <ul style="font-size:smaller;">
                                    valid till:
                                    <ul>
                                        12/07/2022
                                    </ul>


                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <ul>
                                    OT Therapy
                                    <li>
                                        We identyfy the child's physical and occupation...
                                    </li>
                                    <ul style="font-size: smaller;">
                                        02 weekly session | 24 Total Session

                                    </ul>
                                </ul>
                            </div>
                            <div class="col-sm-4" style="text-align:end;">
                                <ul></ul>
                                <ul></ul>
                                <ul style="font-size:smaller;">
                                    valid till:
                                    <ul>
                                        12/09/2022
                                    </ul>
                                </ul>
                            </div>
                        </div>
                        <hr>
                        <div class="row">
                            <div class="col-sm-8">
                                <ul>
                                    Educational Assessment
                                </ul>
                                <ul style="font-size:smaller;">
                                    02 weekly session | 24 Total Session
                                </ul>
                            </div>
                            <div class="col-sm-4" style="text-align:end;font-size:smaller;">
                                <a href="javascript:void(0)" style="color: purple;font-weight: bold">
                                    Renew Plan</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>